.react-bootstrap-table-page-btns-ul {
  float: right;
}

.filter-box {
  display: inline-block;
  width: 40%;
  margin-right: 5px;
}

.filter-box-2 {
  display: inline-block;
  width: 50%;
  margin-right: 5px;
}

.filter-bar {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 85%
}                      