//overwrite theme

/*! `Custom` Bootstrap 4 theme */
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css);

$enable-grid-classes:false;
$primary:#1bba53;
$secondary:#868e96;
$success:#13da0e;
$danger:#dc3545;
$info:#17a2b8;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#343a40;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;

//import bootstrap styles at bottom!
@import "~bootstrap/scss/bootstrap.scss";